/* CLASSES FOR DARK THEME */
/* for footer */
.dark-theme-222 {
  background-color: #222;
}

/* for body */
.dark-theme-333 {
  background-color: #333;
}

/* for sections borderline */
.dark-theme-dimgray {
  border-color: dimgray !important;
}

/* for logo, h1, h2, hover state */
.dark-theme-white {
  color: white !important;
  border-color: white !important;
}