/* STYLES FOR ALL PAGES */
/* BASIC STYLES FOR ELEMENTS */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
}

a:link,
a:visited {
  color: inherit;
}

/* CONTAINERS */
.canvas-container {
  width: 1100px;
  margin: auto;
}

.document-container {
  width: 750px;
  margin: auto;
}

/* HEADER */
header {
  width: 100%;
  height: 100px;
}

header .canvas-container .logo {
  line-height: 100px;
  font-size: 50px;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

header .canvas-container .global-nav {
  list-style: none;
  display: flex;
  float: right;
  margin: 0;
}

header .canvas-container .global-nav li {
  margin: 0 20px;
  line-height: 100px;
}

header .canvas-container .global-nav li a {
  text-decoration: none;
  color: #777;
}
header .canvas-container .global-nav li a:hover {
  color: #000;
}



/* STYLES FOR INDEX.HTML */
/* WELCOME SECTION */
.welcome-section {
  margin-bottom: 100px;
}

.welcome-section .canvas-container img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-top: 20px;
}

.welcome-section .document-container {
  padding-bottom: 50px;
  border-bottom: 1px solid #aaa;
}

.welcome-section .document-container h1 {
  text-align: center;
  font-family: 'Inter' , sans-serif;
  font-size: 2.5em;
}

.welcome-section .document-container p {
  font-size: 1.1em;
  color: #555;
  margin: 30px;
  line-height: 30px;
}