/*
* COLORS I USING
* 
* LIGHT THEME
* #000 is used for gloval-nav's item hover state.
* #333 is used for logo, h1, h2, footer's background.
* gray is used for global-nav's items, theme-button, maintext(p, li) footer's p.
* lightgray is used for section borderline.
* white is used for footer's color.
* 
* 画像の縦横比は全て5:2
* 
* 
* 
*/




/* STYLES FOR ALL PAGES */
/* BASIC STYLES FOR ELEMENTS */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  transition: 0.8s;
}

a:link,
a:visited {
  color: inherit;
}



/* CLASSES FOR DARK THEME */
/* for footer */
.dark-theme-222 {
  background-color: #222;
}

/* for body */
.dark-theme-333 {
  background-color: #333;
}

/* for sections borderline */
.dark-theme-dimgray {
  border-color: dimgray !important;
}

/* for logo, h1, h2, hover state */
.dark-theme-white {
  color: white !important;
  border-color: white !important;
}



/* CONTAINERS */
.large-container {
  width: 1100px;
  margin: auto;
}

.small-container {
  width: 800px;
  margin: auto;
}


/* HEADER */
header {
  height: 100px;
}

/* logo*/
header .large-container .logo {
  line-height: 100px;
  font-size: 50px;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: #333;
}

/* global-nav */
header .large-container .global-nav {
  float: right;
  padding-inline-start: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

header .large-container .global-nav li {
  margin-right: 40px;
  line-height: 100px;
}

header .large-container .global-nav li a {
  text-decoration: none;
  color: gray;
}
header .large-container .global-nav li a:hover {
  color: #000;
}

/* theme-button */
header .large-container .theme-button {
  margin-top: 35px;
  float: right;
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 50%;
}

header .large-container .theme-button:hover {
  border-color: #000;
  cursor: pointer;
}

header .large-container .theme-button i {
  font-size: 20px;
  margin-left: 3px;
  line-height: 30px;
  color: gray;
}

header .large-container .theme-button:hover i {
  color: #000;
}

/* hamburger-menu-button */
header .large-container .hamburger-menu-button {
  display: none;
  float: right;
  font-size: 30px;
  color: gray;
  cursor: pointer;
  margin-top: 35px;
}


/* HAMBURGER-MENU */
header .hamburger-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background-color: dimgray;
}

/* hamburger-menu-button */
header .hamburger-menu .hamburger-menu-button {
  float: right;
  margin-right: 21px;
  font-size: 33px;
  color: white;
  cursor: pointer;
  margin-top: 33px;
}

/* global-nav in the hamburger-menu */
header .hamburger-menu .global-nav {
  margin-top: 100px;
  list-style: none;
  padding-inline-start: 0;
  
}

header .hamburger-menu .global-nav li {
  text-align: center;
  margin-bottom: 30px;
}

header .hamburger-menu .global-nav li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

/* theme-button in the hamburger-menu */
header .hamburger-menu .theme-button {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 50px auto;
  cursor: pointer;
}

header .hamburger-menu .theme-button:active {
  transform: scale(0.93);
}

header .hamburger-menu .theme-button i {
  color: white;
  margin-left: 5px;
  line-height: 50px;
  font-size: 34px;
}


/* FOOTER */
footer {
  background-color: #333;
  color: white;
  padding: 50px 0 20px;
}

footer .large-container .row {
  display: flex;
  flex-wrap: wrap;
}

footer .large-container .row .column01 {
  width: 50%;
  padding-right: 30px;
}

footer .large-container .row .column01 .logo {
  font-size: 50px;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

footer .large-container .row .column01 p {
  color: gray;
}

footer .large-container .row .column02 {
  width: 25%;
}

footer .large-container .row .column02 ul {
  list-style: none;
  padding-inline-start: 0;
}

footer .large-container .row .column02 ul li {
  margin: 10px 0;
}

footer .large-container .row .column02 ul li a {
  text-decoration: none;
}

footer .large-container .row .column02 ul li a:hover {
  text-decoration: underline;
}

footer .large-container .row .column03 {
  width: 25%;
}

footer .large-container .row .column03 ul {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
}

footer .large-container .row .column03 ul li {
  margin-right: 20px;
}

footer .large-container .row .column03 ul li a:hover {
  color: aqua;
}

footer .large-container .row .column03 ul li a i {
  font-size: 40px;
}

footer .large-container .copyright {
  text-align: center;
  margin-top: 70px;
  color: gray;
}




/* INDEX.HTML */
/* MAIN */
main .section {
  margin-top: 50px;
}

main .section .large-container img {
  width: 100%;
  cursor: pointer;
}

main .section .small-container img {
  width: 100%;
  cursor: pointer;
}

main .section .small-container {
  padding-bottom: 50px;
  border-bottom: 1px solid lightgray;
}

main .last-section .small-container {
  border-bottom: none;
}

main .section .small-container h1 {
  text-align: center;
  font-family: 'Inter' , sans-serif;
  font-size: 38px;
  color: #333;
}

main .section .small-container h2 {
  text-align: center;
  font-family: 'Inter' , sans-serif;
  font-size: 32px;
  color: #333;
}

main .section .small-container p {
  font-size: 19px;
  color: gray;
  margin: 30px;
  line-height: 30px;
}

main .section .small-container ul li {
  font-size: 19px;
  color: gray;
  margin: 15px;
  line-height: 30px;
}


/* IMAGE MODAL */
main .modal-shadow {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000d;
}

main .modal-close-button {
  display: none;

  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 40px;
  color: gray;
  cursor: pointer;
}

main .modal-close-button:hover {
  color: white;
}

main .modal-item {
  display: none;

  /* 画面の中央に表示 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 100vw;

}



/* MEDIA QUERY */
@media (max-width:1150px){

  /* CONTAINERS */
  .large-container {
    width: 95%;
  }
}



@media (max-width:1100px){

  /* CONTAINERS */
  .large-container {
    width: 100%;
  }


  /* HEADER */
  header .large-container {
    padding: 0 50px;
  }

  footer .large-container {
    padding: 0 50px;
  }


}


@media (max-width:850px) {

  /* CONTAINERS */
  .small-container {
    width: 90%;
  }

}


@media (max-width:800px){

  /* HEADER */
  header .large-container {
    padding: 0 20px;
  }

  header .large-container .logo {
    font-size: 45px;
  }

  header .large-container .global-nav {
    display: none;
  }

  header .large-container .theme-button {
    display: none;
  }

  header .large-container .hamburger-menu-button {
    display: block;
  }

  /* FOOTER */
  footer .large-container {
    padding: 10px;
  }

  footer {
    text-align: center;
  }

  footer .large-container .row .column01,
  footer .large-container .row .column02,
  footer .large-container .row .column03 {
    width: 100%;
    margin-bottom: 50px;
  }

  footer .large-container .row .column01 .logo {
    font-size: 45px;
  }

  footer .large-container .row .column03 ul {
    display: flex;
    justify-content: center;
  }


  /* MAIN */
  main .section .small-container p {
    margin-left: 0;
    margin-right: 0;
  }

  main .section .small-container ul {
    padding-inline-start: 20px;
  }

}
